.abstract {
    font-style: italic;
    font-size: 0.85em;
    color: #666666;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;     
    margin-right: 40px; 
    text-align: justify;
}

.comment {
    font-style: italic;
    font-size: 0.85em;
    color: #9B0014;
    text-align: justify;
}

.sidebar-item-container {
    margin-top: 20px;
}